.chat {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0.5rem;
	border-bottom: 1px solid #f0f0f0;
}

.chat-active {
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: initial;
}

.chat_details {
	flex: 1;
}

.chat_details > p {
	color: gray;
}

.chat_timestamp {
	color: lightgray;
}

.chat_image {
	padding: 0;
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	border-radius: 100rem;
	margin: 0;
	margin-right: 0.6rem;
}
