.chatScreen {
	border-left: 1px solid #f0f0f0;
	padding-bottom: 1rem;
	padding-left: 1.5rem !important;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
	min-height: 70vh;
}

.chatScreen_message {
	display: flex;
	align-items: center;
}
.chatScreen_text {
	background-color: #cfcfcf;
	padding: 0.6rem 0.9rem;
	border-radius: 1rem;
}
.text_user {
	margin-left: auto;
	background-color: #29b3cd;
	color: white;
}
.chatScreen_timestamp {
	text-align: center;
	color: grey;
	padding: 20px;
}
.chatScreen_input {
	display: flex;
	bottom: 0;
	width: 100%;
	border-top: 1px solid lightgray;
}
.chatScreen_inputField {
	flex: 1;
	padding: 10px;
	border: none;
}
.chatScreen_inputButton {
	border: none;
	margin-right: 10px;
	background-color: white;
	font-weight: bolder;
	color: #fe3d71;
}

.chats-container {
	background: white;
	border-radius: 0.4rem;
}
