.profile-container {
	background-color: white;
	border-radius: 0.4rem;
	padding: 2rem !important;
	margin: 0 auto !important;
	width: 20rem;
	text-align: center;
}

.avatar {
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 20rem;
	border: 1px solid #eee;
	margin: 0 0 0.5rem !important;
}
