.searchbox-container {
	padding: 0 1.5rem;
}

.searchbox {
	background-color: white;
	padding: 1rem 1.5rem;
	border-radius: 0.4rem;

	form {
		width: 30rem;
	}
}

.searchbox-primary {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.search-btn {
	width: fit-content;
	flex-basis: auto;
}

.flters-bottom {
	//
}

// This is the background stuff

img {
	width: 150px;
	height: auto;
	padding-top: 10px;
	margin-left: 75px;
	margin-top: 50px;
}

.row {
	max-width: 100%;
}
.column {
	width: 25%;
	float: left;
	padding: 100px 10px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	background-color: white;
	text-align: center;
	border-radius: 40px;
	padding-bottom: 15px;
}

.title {
	color: gray;
	font-size: 18px;
}

// button {
// 	border: none;
// 	padding: 8px;
// 	display: inline-block;
// 	color: white;
// 	background-color: black;
// 	cursor: pointer;
// 	width: 70%;
// 	border-radius: 20px;
// 	font-size: 18px;
// 	text-align: center;
// }

a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

a:hover,
button:hover {
	opacity: 0.6;
}

.accept-decline-btns > button {
	flex-basis: 50%;
}

.column .card {
	border-radius: 0.4rem;
	text-align: center;
}

.search-avatar {
	width: 14rem;
	height: 14rem;
	object-fit: cover;
	border-radius: 20rem;
	margin: 0 auto 0.5rem !important;
}
